.headercard__container {
  display: flex;
  flex-direction: column;

  .img__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-1);
    padding: 0.2rem 0rem;
    transition: all ease-in-out var(--timer-short);

    i {
      font-size: 3rem;
      transition: all ease-in-out var(--timer-short);
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: var(--box-shadow-1);
      i {
        transform: translateY(-6px);
      }
    }
  }
  p {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 5px;
    color: var(--grey-400);
  }
}
