// Variables

.auth__background-container {
  background-color: var(--grey-100);

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .auth__main-container {
    width: 100%;
    margin: 2rem;
    display: flex;
    height: 85%;

    border-radius: var(--border-radius-1);

    @media screen and (max-width: 715px) {
      flex-direction: column-reverse;
      height: 100%;
      margin: 0;
      width: 100%;
    }

    .form__header-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      padding: 7rem;
      background-size: cover;
      @media screen and (max-width: 900px) {
        padding: 2rem;
      }

      @media screen and (max-width: 715px) {
        width: 100%;
      }
      .form__header-content {
        padding: 3rem;
        border: 3px solid white;
        h1 {
          font-size: 3.5rem;
          font-weight: bold;
          text-transform: uppercase;
          line-height: 60px;

          color: white;
          span {
            color: var(--accent-color);
          }
        }
        p {
          font-size: 1.2rem;
          margin-top: 10px;
          font-weight: bold;
        }

        @media screen and (max-width: 900px) {
          padding: 2rem;
          h1 {
            font-size: 2rem;
            line-height: 40px;
            text-align: center;
          }
        }
      }
    }
  }
  .form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    padding: 1rem;
    background-color: white;

    @media screen and (max-width: 715px) {
      width: 100%;
    }

    // General Styling of forms inside this component
    .form__content {
      width: 100%;
      max-width: 380px;
      form {
        button {
          width: 100%;
          padding: 0.7rem;
        }

        .error__container {
          background-color: var(--error-color-light);
          padding: 0.5rem;
          border-radius: var(--border-radius-1);
          margin-bottom: 0.5rem;
          text-align: center;
          font-size: 0.9rem;
          color: var(--error-color-dark);
          border: 1px solid var(--error-color-dark);
        }

      }

      .row {
        .btn {
          width: 100%;
          max-width: 100%;
          padding: 0.7rem;
        }
      }
    }
  }
}
