// Variables
$navbar-padding-top: 64px; // Account for navbar position

.auth__background-container {
  background-color: var(--grey-100);
  padding-top: $navbar-padding-top;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .auth__main-container {
    width: 100%;
    margin: 2rem;
    display: flex;
    height: 85%;

    border-radius: var(--border-radius-1);
    .form__header-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      padding: 7rem;

      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      border-top-left-radius: var(--border-radius-1);
      border-bottom-left-radius: var(--border-radius-1);

      .form__header-content {
        padding: 3rem;
        border-radius: 2px;

        background-color: rgba(255, 255, 255, 0.267);
        box-shadow: 20px 30px rgba(104, 104, 104, 0.171);

        h1 {
          font-size: 3.5rem;
          font-weight: bold;
          text-transform: uppercase;
          line-height: 60px;

          color: white;
          span {
            color: var(--grey-600);
          }
        }
      }
    }
  }
  .form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    padding: 1rem;

    background-color: white;
    border-top-right-radius: var(--border-radius-1);
    border-bottom-right-radius: var(--border-radius-1);

    // General Styling of forms inside this component
    .form__content {
      width: 100%;
      max-width: 380px;
      form {
        button {
          width: 100%;
        }

        .error__container {
          background-color: var(--error-color-light);
          padding: 0.5rem;
          border-radius: var(--border-radius-1);
          margin-bottom: 0.5rem;
          text-align: center;
          font-size: 0.9rem;
          color: var(--error-color-dark);
          border: 1px solid var(--error-color-dark);
        }

        .input__container {
          width: 100%;
          margin-bottom: 1.4rem;

          p {
            font-size: 0.9rem;

            color: var(--grey-400);
          }

          input {
            width: 100%;
            padding: 0.4rem;
            border: 1.5px solid var(--grey-100);
            border-radius: var(--border-radius-1);

            &:focus {
              outline: none !important;
              border-color: #23a6d5;
            }
          }

          select {
            width: 100%;
            padding: 0.5rem;
            border: 1.5px solid var(--grey-100);
            border-radius: var(--border-radius-1);
            background-color: white;
            color: var(--grey-600);
          }
        }
      }
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
