footer {
  display: grid;
  padding: 1rem;
  grid-template-columns: 3fr 1fr 1fr 2fr;

  .col{

    .row{
      gap: 10px;
      align-items: center;
      h1{
        font-size: 3rem;
        color: var(--grey-100);
        margin-bottom: 10px;
      }
    }
    img{
      width: 70px;
    }
  }

}
