header {
  display: flex;

  height: 40vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width:600px) {
    height: 60vh;
  }

  .header__content {
    h1 {
      color: var(--grey-000);
      font-size: 4.5rem;
      max-width: 850px;
      line-height: 70px;
    }

    p {
      color: var(--grey-100);
      font-size: 1.3rem;
      margin-top: 10px;
    }

    .row {
      gap: 15px;
      .btn {
        padding: 0.7rem;
        width: 100%;
        max-width: 220px;
        font-size: 1.1rem;
        margin-top: 10px;
      }
    }

    @media screen and (max-width: 600px) {
      display: flex;
      align-items: center;
      max-width: 100%;
      text-align: center;
      h1 {
        font-size: 3rem;
        line-height: 50px;
      }
      p {
        font-size: 1.2rem;
        margin-bottom: 20px;
      }
      .row {
        justify-content: center;
        width: 100%;
        .btn {
        }
      }
    }
  }
}

.react-slideshow-container {
  button.nav.default-nav {
    background-color: transparent;
    transition: ease-in-out all var(--timer-short);
  }
}
