header {
  display: flex;

  height: 45vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .header__content {
    
    h1 {
      color: var(--grey-000);
      font-size: 4.5rem;
      max-width: 850px;
      line-height: 70px;
    }

    p {
      color: var(--grey-100);
      font-size: 1.3rem;
      margin-top: 10px;
    }

    .row{
      gap: 15px;
      .btn {
        padding: 0.7rem;
        width: 100%;
        max-width: 250px;
        font-size: 1.1rem;
        margin-top: 10px;
       
      }
    }
    
  }
}
