.order__list-top-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.order__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.order__item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  padding: 0.5rem;
  background-color: white;
  align-items: center;
  box-shadow: var(--box-shadow-6);
  border-radius: 5px;

  .order__item-val {
    display: none;
  }
  .btn {
    padding: 0.3rem;
  }
  @media screen and (max-width: 600px) {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    .order__item-val {
      span {
        display: flex;
      }
    }
  }
}
