.home__content {

  @media screen and (max-width:600px) {
    display: flex;
    flex-direction: column-reverse;
  }

  .home__tags-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    .home__tag-container {
      align-items: center;
      gap: 10px;
      h2 {
        color: var(--dark-grey-color);
      }
      i {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        background-color: var(--accent-color);
        padding: 0.5rem;
        border-radius: 100%;
        color: var(--grey-700);
      }
    }

    @media screen and (max-width: 1000px) {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

      .home__tag-container {
        flex-direction: column;
        text-align: center;
      }
    }
  }

  .catalogue__parent-container {
    .catalogue__container {
      display: flex;
      gap: 20px;

      .catalogue__container-tall {
        display: flex;
        width: 100%;
        background-color: var(--grey-000);
        position: relative;
        box-shadow: var(--box-shadow-3);

        .catalogue__container-img {
          width: 100%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        .sales__tag {
          position: absolute;
          top: 15px;

          background-color: var(--accent-color);
          padding: 0.2rem 1rem;
          font-size: 1.2rem;
          font-weight: bold;
        }
        img {
          width: 100%;

          height: auto;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }

        .col {
          padding: 2rem 2rem 0rem 2rem;
          .row__price {
            display: flex;
            align-items: baseline;
            gap: 10px;
            h3 {
              text-decoration: line-through;
              color: var(--grey-500);
            }
          }

          h1 {
            font-size: 2.7rem;
            line-height: 50px;
            color: var(--grey-700);
            text-transform: capitalize;
            @media screen and (max-width: 900px) {
              font-size: 2rem;
              line-height: 35px;
            }
          }
          h2 {
            margin-top: 10px;
            font-size: 2rem;
            color: var(--grey-700);
          }
          p {
            margin: 10px 0px;
          }

          .terms {
            font-size: 0.7rem;
            color: var(--grey-600);
            margin-top: 10px;
          }
          .row {
            margin-top: 1rem;
            gap: 10px;
            .btn {
              width: 100%;
              padding: 0.6rem;
            }
          }
        }

        @media screen and (max-width: 1050px) {
          max-width: 100%;
        }
        @media screen and (max-width: 600px) {
          flex-direction: column;
          .catalogue__container-img {
            width: 100%;
            height: 200px;
          }

          .row {
            flex-direction: column;
          }
        }
      }

      @media screen and (max-width: 1050px) {
        flex-direction: column;
        width: 100%;
      }
    }

    .catalogue__grid {
      display: grid;
      gap: 15px;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

      .catalogue__card {
        padding: 1rem;

        background-color: var(--grey-000);
        box-shadow: var(--box-shadow-3);
        h2 {
          color: var(--grey-600);
          text-transform: capitalize;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .catalogue__container-parent {
      width: 100%;
      .catalogue__container-sale {
        justify-content: center;
        align-items: center;
        background-position: center;
        background-size: cover;
        height: 100%;
        background-color: var(--accent-color);
        box-shadow: var(--box-shadow-3);
        padding: 1rem;

        h1 {
          font-size: 5rem;
          color: white;
          line-height: 80px;
        }
        h2 {
          color: white;
          font-size: 1.5rem;
          text-align: center;
        }
      }
    }
  }
}
