.nav__container-parent {
  display: flex;
  flex-direction: column;
  z-index: 2;
  .nav__container-top {
    background-color: var(--dark-grey-color);
    .nav__content-top {
      display: flex;
      justify-content: space-between;
      padding: 0.3rem 0rem;

      .row {
        align-items: center;
        gap: 10px;
        i {
          color: var(--grey-300);
          font-size: 1rem;
          cursor: pointer;
        }
      }

      .nav__container-login {
        display: flex;
        align-items: center;
        gap: 10px;
        p {
          color: var(--grey-100);
        }
        .btn {
          min-width: 80px;
          padding: 0.2rem 0rem;
        }
      }
    }

    @media screen and (max-width: 700px) {
      display: none;
    }
  }

  nav {
    background-color: var(--black-color);
    .nav__content-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .mobile__menu-btn {
        display: none;
      }

      .cart__btn {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 1.7rem;
        color: var(--grey-100);
        cursor: pointer;
        position: relative;
        text-decoration: none;
        span {
          background-color: var(--accent-color);
          color: var(--dark-grey-color);
          padding: 0rem 0.37rem;
          border-radius: 100%;
          font-size: 1.1rem;
          font-weight: bold;
        }
      }

      .row {
        align-items: center;
        img {
          height: 100%;
          width: 50px;
        }
        h2 {
          font-size: 1.5rem;
          color: var(--grey-100);
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }

      .nav-link__container {
        .dropdown__btn {
          position: relative;
          .dropdown__container {
            display: none;
          }

          &:hover {
            .dropdown__container {
              left: 0;
              top: 53px;
              position: absolute;
              display: flex;
              flex-direction: column;
              list-style: none;
              width: 100%;
              background-color: var(--dark-grey-color);

              li {
                text-align: left;
                padding: 1rem 0.3rem;
                padding-left: 1rem;
                transition: all ease-in-out var(--timer-short);
                &:hover {
                  background-color: var(--black-color);
                }
              }
            }
          }
        }
        @media screen and (max-width: 700px) {
          display: none;
        }
      }
      @media screen and (max-width: 700px) {
        flex-direction: row-reverse;
        padding: 0.3rem 0rem;
        .mobile__menu-btn {
          display: flex;
          font-size: 2.4rem;
          border: none;
          background-color: transparent;
          color: var(--grey-200);
          cursor: pointer;
        }
      }
    }
  }
}

.nav-link {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  position: relative;
  color: var(--grey-200);
  z-index: 1;
  transition: all 0.5s ease;
  text-decoration: none;
  background-color: transparent;
  border: none;
  @media screen and (max-width: 700px) {
    color: var(--grey-600);
    border-top: 1px solid  var(--grey-100);
    padding: 0.8rem 0rem 0.8rem 4rem;
    font-weight: bold;
  }
}

.nav-link:hover {
  color: #f1f1f1;
  border-color: var(--dark-grey-color);
}

.nav-link:hover:before {
  top: 0%;
  height: 100%;
  @media screen and (max-width: 700px) {
    left: 0%;
    right: auto;
    width: 100%;
  }
}

.nav-link:before {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 0%;
  width: 100%;
  z-index: -1;
  content: "";
  color: #f1f1f1;
  background: var(--dark-grey-color);
  transition: all 0.3s ease;
}
