.nav__container-parent {
  display: flex;
  flex-direction: column;

  .nav__container-top {
    background-color: var(--dark-grey-color);
    .nav__content-top {
      display: flex;
      justify-content: space-between;
      padding: 0.3rem 0rem;

      .row {
        align-items: center;
        gap: 10px;
        i {
          color: var(--grey-300);
          font-size: 1rem;
          cursor: pointer;
        }
      }

      .nav__container-login {
        display: flex;
        align-items: center;
        gap: 10px;
        p {
          color: var(--grey-100);
        }
        .btn {
          min-width: 80px;
          padding: 0.1rem 0rem;
        }
      }
    }
  }

  nav {
    background-color: var(--black-color);
    .nav__content-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .cart__btn {
        font-size: 1.7rem;
        color: var(--grey-100);
        cursor: pointer;
      }

      .row {
        align-items: center;
        img {
          height: 100%;
          width: 50px;
        }
        h2 {
          font-size: 1.5rem;
          color: var(--grey-100);
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }
    }
  }
}

.nav-link {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  position: relative;
  color: var(--grey-200);
  z-index: 1;
  transition: all 0.5s ease;
  border-radius: 5px;
  text-decoration: none;
  background-color: transparent;
}

.nav-link:hover {
  color: #f1f1f1;
  border-color: var(--dark-grey-color);
}

.nav-link:hover:before {
  top: 0%;
  height: 100%;
}

.nav-link:before {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 0%;
  width: 100%;
  z-index: -1;
  content: "";
  color: #f1f1f1;
  background: var(--dark-grey-color);
  transition: all 0.3s ease;
}
