//   Use this to set all the general styling for your application.

* {
  font-family: "Source Sans Pro", sans-serif;
}

.main__app-container {
  height: 100%;
  background-color: green;
}

.nav__padding {
  padding-top: 0px;
}

.app__container {
  padding: 7rem 0rem;
  display: flex;
  flex-direction: row;

  width: 100%;
}

.app__container-width {
  width: 95%;
  max-width: 1400px;
}

.page {

  z-index: -300000;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-text {
  color: var(--grey-400);
  font-size: 1rem;
  span {
    font-weight: bold;
  }
}

.content__title {
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 500;
  span {
    background-color: var(--secondary-fade);
    padding: 0.2rem 0.6rem;
    color: var(--secondary-color);
    border-radius: var(--border-radius-1);
  }
}

.bg-grey {
  background-color: var(--grey-100);
}

.head-text {
  width: 100%;
  margin-top: 0.2rem;
  font-size: 2.5rem;
  color: var(--grey-600);
}
.sub-title {
  span {
    padding: 0.1rem 1rem;
    font-size: 1rem;
    border-radius: var(--border-radius-1);
    font-weight: bold;
    color: var(--grey-400);
  }
}

.hr__container {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 90px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  i {
    color: var(--dark-grey-color);
  }
  hr {
    width: 100%;
    border: none;
    border-top: 5px solid var(--dark-grey-color);
  }
}

.grid__container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.row {
  display: flex;
  gap: 5px;
}

.col {
  display: flex;
  flex-direction: column;
}

//------------- Buttons -------------

.btn {
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: all ease-in-out var(--timer-short);
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.btn.small {
  padding: 0.2rem 1rem;
}
.btn__accent {
  background-color: var(--accent-color);
  color: var(--dark-grey-color);
  border: 1px solid var(--accent-color);
  &:hover {
    background-color: var(--accent-hover);
    border-color: var(--accent-hover);
  }
}

.btn__outline-white {
  border: 1px solid var(--grey-100);
  color: var(--grey-000);
  background-color: rgba(255, 255, 255, 0);
  &:hover {
    color: var(--dark-grey-color);
    background-color: var(--grey-100);
  }
}

.btn__outline-dark {
  border: 1px solid var(--dark-grey-color);
  color: var(--dark-grey-color);
  background-color: rgba(255, 255, 255, 0);
  &:hover {
    color: white;
    background-color: var(--dark-grey-color);
  }
}
