.mobile__nav-container {
  display: none;

  @media screen and (max-width: 700px) {
    display: flex;
    flex-direction: column;
 

    .mobile__nav-content {
  
      position: relative;
      background-color: white;
      width: 100%;
      box-shadow: var(--box-shadow-5);
      position: absolute;
      top: -270px;
      transition: all ease-in-out var(--timer-short);
      z-index: -3;
      .mobile__nav-link {
        color: var(--grey-600);
        border: none;
        border-top: 1px solid var(--grey-100);
        padding: 0.8rem 0rem 0.8rem 4rem;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.1rem;
        text-transform: uppercase;
        cursor: pointer;
        background-color: white;
        transition: all ease-in-out var(--timer-short);


        &:hover {
          background-color: var(--dark-grey-color);
          border-color: var(--dark-grey-color);
          color: white;
        }
      }

      .dropdown__container {
        display: none;
      }

      .dropdown__container.active {
        display: flex;
        flex-direction: column;


        .mobile__nav-link {
          background-color: var(--grey-100);
          border-top: none;
          border-bottom: 1px solid var(--grey-300);
          color: var(--grey-500);
          padding-left: 6rem;
          &:hover {
            background-color: var(--grey-300);
          }
        }
      }
    }
    .mobile__nav-content.active {
      top: 60px;
    }
  }

  .mobile__nav-bottom-container {
    padding: 0.5rem 1rem;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid var(--grey-100);


    .row {
      gap: 10px;
      align-items: center;


      .btn {
        padding: 0.5rem 0rem;
        width: 110px;
      }
    }
    p {
      font-size: 1.1rem;
      color: var(--grey-700);
    }
  }
}
