.shop__banner-container {
  position: relative;
  padding: 4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2rem;

  .shop__banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      text-align: center;
      font-size: 6rem;
      color: var(--grey-000);
    }

    .join__banner-input-container {
      flex-direction: row-reverse;
      max-width: 500px;

      .btn {
        padding: 0.5rem 1rem;
        max-width: 120px;
      }
    }
  }
}

.search__container {
  width: 100%;
  justify-content: space-between;

  .filter__container {
    button {
      padding: 0.4rem 1rem;
      font-size: 1rem;
      border: 1px solid var(--grey-300);
      cursor: pointer;
      transition: all ease-in-out var(--timer-short);
      background-color: transparent;
    }

    button.active {
      background-color: var(--grey-600);
      border-color: var(--grey-600);
      color: var(--grey-000);
    }
  }
  select {
    padding: 0.4rem 1rem;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid var(--grey-300);
    color: var(--grey-600);
  }
}

.store__grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 2.5rem;
  border-radius: var(--border-radius-1);

  .btn {
    background-color: var(--dark-grey-color);
    border-color: var(--dark-grey-color);
    color: var(--grey-100);
    transition: var(--timer-short) all ease-in-out;
    &:hover{
      background-color: var(--black-color);
    }
  }
}
