.join__bannner-container {
  background-color: var(--black-color);

  img {
    max-height: 400px;
  }

  .join__banner-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0rem 0rem 0rem;

    .col {
      padding-bottom: 2rem;
      max-width: 700px;
   
      h1{
        font-size: 4rem;
        line-height: 70px;
        color: var(--grey-200);
        text-transform: uppercase;
      }
      p{
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--grey-400);
        margin-bottom: 1rem;
      }
      .join__banner-input-container{
        width: 100%;
        background-color: var(--grey-200);
        padding: 0.2rem;

        .btn{
          background-color: var(--black-color);
          color: white;
          padding: 0.8rem 2.5rem;
          font-size: 1rem;
          width: 100%;
          max-width: 200px;
        }

        input{
          padding: 0rem 1rem;
          width: 100%;
          border: none;
          font-size: 1.2rem;
        }
      }
    }
  }
}
