.join__bannner-container {
  background-color: var(--black-color);

  img {
    max-height: 400px;
  }

  .join__banner-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem 0rem 0rem 0rem;

    .col {
      padding-bottom: 2rem;
      max-width: 700px;

      h1 {
        font-size: 4rem;
        line-height: 70px;
        color: var(--grey-200);
        text-transform: uppercase;
      }
      p {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--grey-400);
        margin-bottom: 1rem;
      }
    
    }

    @media screen and (max-width: 900px) {
      img {
        max-width: 250px;
      }
      .col {
        h1 {
          font-size: 2rem;
          line-height: 40px;
        }
      }
    }

    @media screen and (max-width: 610px) {
      .col {
        h1,
        p {
          text-align: center;
        }
        p {
          font-size: 1.2rem;
        }

        .join__banner-input-container {
         
        }
      }

      img {
        display: none;
      }
    }
  }
}
